.physics-button {
    -fx-background-color:
        linear-gradient(to bottom, #3b82f6, #1d4ed8);

    -fx-background-radius: 18;
    -fx-padding: 12 24 12 24;

    -fx-cursor: hand;

    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-text-fill: white;

    -fx-effect: dropshadow(
        gaussian,
        rgba(59,130,246,0.45),
        15,
        0.3,
        0,
        4
    );
}

.physics-button:hover {
    -fx-background-color:
        linear-gradient(to bottom, #60a5fa, #2563eb);

    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.physics-button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.button-text {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button-icon {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
